Repository Somfic/vla, changes with the labels that .github/labeler.yml gives for each.
All labels: core, frontend, documentation, ci/cd, tauri, tests, dependencies

💄 enhance <Edge> component with color gradients and animations
  frontend/src/components/canvas/Edge.svelte
  frontend/src/components/forms/Input.svelte
Labels: frontend

🎨 styling
  flake.nix
  frontend/src/components/canvas/Edge.svelte
  target/rust-analyzer/flycheck0/stderr
  target/rust-analyzer/flycheck0/stdout
Labels: frontend

Delete target/rust-analyzer/flycheck0 directory
  target/rust-analyzer/flycheck0/stderr
  target/rust-analyzer/flycheck0/stdout
Labels: none

Delete target/rust-analyzer/flycheck0 directory
  target/rust-analyzer/flycheck0/stderr
  target/rust-analyzer/flycheck0/stdout
Labels: none

🔧 add node to flake
  flake.nix
Labels: none

🚧 Rewrite the execution engine to be event based
  core/src/api.rs
  core/src/canvas.rs
  core/src/engine/flow_test.rs
  core/src/engine/mod.rs
  core/src/engine/tests.rs
  core/src/main.rs
  frontend/src/components/ExecutionControls.svelte
  frontend/src/lib/core.ts
  frontend/src/routes/+page.svelte
  target/rust-analyzer/flycheck0/stderr
  target/rust-analyzer/flycheck0/stdout
Labels: core, frontend, tests

🚸 show node execution state in canvas
  core/src/engine/mod.rs
  frontend/src/components/Spotlight.svelte
  frontend/src/components/canvas/Canvas.svelte
  frontend/src/components/canvas/Node.svelte
  frontend/src/routes/+page.svelte
  target/rust-analyzer/flycheck0/stderr
  target/rust-analyzer/flycheck0/stdout
Labels: core, frontend

🙈 ignore `/target`
  .gitignore
  target/rust-analyzer/flycheck0/stderr
  target/rust-analyzer/flycheck0/stdout
Labels: none

📈 add benches
  core/src/engine/mod.rs
  frontend/src/components/canvas/Handle.svelte
  frontend/src/components/canvas/Node.svelte
  frontend/src/components/forms/Value.svelte
  frontend/src/lib/core.ts
Labels: core, frontend

👷 updat ci
  .github/workflows/ci.yml
  core/src/engine/mod.rs
  justfile
Labels: core, ci/cd

👷 normalize step names in ci.yml workflow file
  .github/workflows/ci.yml
Labels: ci/cd

🔥 add in dock
  frontend/src/components/ExecutionControls.svelte
  frontend/src/components/Spotlight.svelte
  frontend/src/components/canvas/Canvas.svelte
  frontend/src/components/canvas/Dock.svelte
  frontend/src/components/canvas/Handle.svelte
  frontend/src/components/canvas/Minimap.svelte
  frontend/src/components/canvas/Node.svelte
  frontend/src/components/canvas/arguments/ArgumentInput.svelte
  frontend/src/components/forms/Input.svelte
  frontend/src/components/sidebar/SideBar.svelte
  frontend/src/routes/+page.svelte
  frontend/src/styles/theme.scss
Labels: frontend

🩹 s
  frontend/src/components/canvas/arguments/ArgumentInput.svelte
Labels: frontend

🩹 only be slow in debug
  core/src/engine/mod.rs
Labels: core

🩹 remove nix flake check step
  .github/workflows/ci.yml
Labels: ci/cd

👷 updat ci
  .github/workflows/ci.yml
  core/src/engine/mod.rs
  justfile
Labels: core, ci/cd

🩹 s
  frontend/src/components/canvas/arguments/ArgumentInput.svelte
Labels: frontend

🚧 Rewrite the execution engine to be event based
  core/src/api.rs
  core/src/canvas.rs
  core/src/engine/flow_test.rs
  core/src/engine/mod.rs
  core/src/engine/tests.rs
  core/src/main.rs
  frontend/src/components/ExecutionControls.svelte
  frontend/src/lib/core.ts
  frontend/src/routes/+page.svelte
  target/rust-analyzer/flycheck0/stderr
  target/rust-analyzer/flycheck0/stdout
Labels: core, frontend, tests

🩹 only be slow in debug
  core/src/engine/mod.rs
Labels: core

🩹 remove nix flake check step
  .github/workflows/ci.yml
Labels: ci/cd

🚸 show node execution state in canvas
  core/src/engine/mod.rs
  frontend/src/components/Spotlight.svelte
  frontend/src/components/canvas/Canvas.svelte
  frontend/src/components/canvas/Node.svelte
  frontend/src/routes/+page.svelte
  target/rust-analyzer/flycheck0/stderr
  target/rust-analyzer/flycheck0/stdout
Labels: core, frontend

👷 normalize step names in ci.yml workflow file
  .github/workflows/ci.yml
Labels: ci/cd

🔥 add in dock
  frontend/src/components/ExecutionControls.svelte
  frontend/src/components/Spotlight.svelte
  frontend/src/components/canvas/Canvas.svelte
  frontend/src/components/canvas/Dock.svelte
  frontend/src/components/canvas/Handle.svelte
  frontend/src/components/canvas/Minimap.svelte
  frontend/src/components/canvas/Node.svelte
  frontend/src/components/canvas/arguments/ArgumentInput.svelte
  frontend/src/components/forms/Input.svelte
  frontend/src/components/sidebar/SideBar.svelte
  frontend/src/routes/+page.svelte
  frontend/src/styles/theme.scss
Labels: frontend

🙈 ignore `/target`
  .gitignore
  target/rust-analyzer/flycheck0/stderr
  target/rust-analyzer/flycheck0/stdout
Labels: none

📈 add benches
  core/src/engine/mod.rs
  frontend/src/components/canvas/Handle.svelte
  frontend/src/components/canvas/Node.svelte
  frontend/src/components/forms/Value.svelte
  frontend/src/lib/core.ts
Labels: core, frontend

💄 remove sleep debugging and update styles in components
  core/src/engine/mod.rs
  frontend/src/components/canvas/Handle.svelte
  frontend/src/components/canvas/Node.svelte
  frontend/src/routes/+page.svelte
  frontend/src/styles/theme.scss
Labels: core, frontend

💄 make ui a lot prettier
  frontend/src/components/canvas/Canvas.svelte
  frontend/src/components/canvas/Handle.svelte
  frontend/src/components/canvas/Node.svelte
  frontend/src/components/canvas/arguments/ArgumentInput.svelte
  frontend/src/components/forms/Input.svelte
  frontend/src/components/sidebar/SideBar.svelte
  frontend/src/routes/+page.svelte
  frontend/src/styles/global.scss
  frontend/src/styles/theme.scss
Labels: frontend

🩹 equality fix
  frontend/src/components/canvas/Node.svelte
Labels: frontend

🩹 equality fix
  frontend/src/components/canvas/Node.svelte
Labels: frontend

🩹 refactor graph loading with `tick` for better async handling
  frontend/src/routes/+page.svelte
Labels: frontend

💄 make ui a lot prettier
  frontend/src/components/canvas/Canvas.svelte
  frontend/src/components/canvas/Handle.svelte
  frontend/src/components/canvas/Node.svelte
  frontend/src/components/canvas/arguments/ArgumentInput.svelte
  frontend/src/components/forms/Input.svelte
  frontend/src/components/sidebar/SideBar.svelte
  frontend/src/routes/+page.svelte
  frontend/src/styles/global.scss
  frontend/src/styles/theme.scss
Labels: frontend

🩹 equality fix
  frontend/src/components/canvas/Node.svelte
Labels: frontend

💄 remove sleep debugging and update styles in components
  core/src/engine/mod.rs
  frontend/src/components/canvas/Handle.svelte
  frontend/src/components/canvas/Node.svelte
  frontend/src/routes/+page.svelte
  frontend/src/styles/theme.scss
Labels: core, frontend

🩹 refactor graph loading with `tick` for better async handling
  frontend/src/routes/+page.svelte
Labels: frontend

🩹 equality fix
  frontend/src/components/canvas/Node.svelte
Labels: frontend

🚧 add extensible emission context examples and implementation
  core/examples/extensible_emission_contexts.rs
  core/examples/node_level_configuration.rs
  core/examples/self_emitting_timer.rs
  core/examples/test_timer_graph.rs
  core/src/bricks/events.rs
  core/src/bricks/macros.rs
  core/src/bricks/mod.rs
  core/src/bricks/types.rs
  core/src/engine/data_dfs.rs
  core/src/engine/emission_contexts.rs
  core/src/engine/events.rs
  core/src/engine/listener_manager.rs
  core/src/engine/listeners/manual.rs
  core/src/engine/listeners/mod.rs
  core/src/engine/listeners/timer.rs
  core/src/engine/mod.rs
  core/src/engine/self_emit_test.rs
  core/src/engine/trigger.rs
  core/tests/timer_integration_test.rs
  docs/SELF_EMITTING_NODES.md
  frontend/src/lib/core.ts
Labels: core, frontend, documentation, tests

🚧 update `Engine` initialization and manage engine stop signal
  core/examples/test_timer_graph.rs
  core/src/api.rs
  core/src/canvas.rs
  core/src/engine/listeners/mod.rs
  core/src/engine/mod.rs
  frontend/src/components/canvas/Canvas.svelte
  frontend/src/components/forms/Input.svelte
Labels: core, frontend, tests

🔥 remove examples for emission contexts and timers
  core/examples/extensible_emission_contexts.rs
  core/examples/node_level_configuration.rs
  core/examples/self_emitting_timer.rs
  core/examples/test_timer_graph.rs
  core/src/api.rs
  core/src/bricks/events.rs
  core/src/engine/emission_contexts.rs
  core/src/engine/events.rs
  core/src/engine/listeners/mod.rs
  core/src/engine/listeners/timer.rs
  core/src/engine/mod.rs
  core/src/engine/self_emit_test.rs
  core/src/engine/trigger.rs
  core/tests/timer_integration_test.rs
  docs/EMISSION_TYPES_GUIDE.md
  frontend/src/components/canvas/Canvas.svelte
  frontend/src/components/canvas/Node.svelte
  frontend/src/lib/core.ts
Labels: core, frontend, documentation, tests

🚧 update `Engine` initialization and manage engine stop signal
  core/examples/test_timer_graph.rs
  core/src/api.rs
  core/src/canvas.rs
  core/src/engine/listeners/mod.rs
  core/src/engine/mod.rs
  frontend/src/components/canvas/Canvas.svelte
  frontend/src/components/forms/Input.svelte
Labels: core, frontend, tests

🔥 remove examples for emission contexts and timers
  core/examples/extensible_emission_contexts.rs
  core/examples/node_level_configuration.rs
  core/examples/self_emitting_timer.rs
  core/examples/test_timer_graph.rs
  core/src/api.rs
  core/src/bricks/events.rs
  core/src/engine/emission_contexts.rs
  core/src/engine/events.rs
  core/src/engine/listeners/mod.rs
  core/src/engine/listeners/timer.rs
  core/src/engine/mod.rs
  core/src/engine/self_emit_test.rs
  core/src/engine/trigger.rs
  core/tests/timer_integration_test.rs
  docs/EMISSION_TYPES_GUIDE.md
  frontend/src/components/canvas/Canvas.svelte
  frontend/src/components/canvas/Node.svelte
  frontend/src/lib/core.ts
Labels: core, frontend, documentation, tests

.github/labeler.yml:

# Auto-label PRs based on changed files

core:
  - changed-files:
    - any-glob-to-any-file: 'core/**/*.rs'
    - any-glob-to-any-file: 'core/Cargo.toml'
    - any-glob-to-any-file: 'core/Cargo.lock'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*.svelte'
    - any-glob-to-any-file: 'frontend/**/*.ts'
    - any-glob-to-any-file: 'frontend/**/*.js'
    - any-glob-to-any-file: 'frontend/**/*.css'
    - any-glob-to-any-file: 'frontend/**/*.scss'

documentation:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/*'
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'README.md'

ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**'
    - any-glob-to-any-file: 'justfile'

tauri:
  - changed-files:
    - any-glob-to-any-file: 'core/tauri.conf.json'
    - any-glob-to-any-file: 'core/build.rs'

tests:
  - changed-files:
    - any-glob-to-any-file: '**/*test*.rs'
    - any-glob-to-any-file: '**/*test*.ts'
    - any-glob-to-any-file: 'core/src/engine/tests.rs'
    - any-glob-to-any-file: 'core/src/bricks/tests.rs'

dependencies:
  - changed-files:
    - any-glob-to-any-file: 'core/Cargo.toml'
    - any-glob-to-any-file: 'core/Cargo.lock'
    - any-glob-to-any-file: 'frontend/package.json'
    - any-glob-to-any-file: 'frontend/package-lock.json'
    - any-glob-to-any-file: 'frontend/bun.lockb'
